In [3]:
import pandas as pd

In [ ]:
#MERGE 2 dfs

# Read the .xls file into a pandas DataFrame
df1 = pd.read_excel('/Users/mazelenova/Downloads/Cow_dataset.xlsx', index_col=0) 
df2= pd.read_excel('/Users/mazelenova/Downloads/Mutations_dataset.xlsx', index_col=0)

In [13]:
# Display the first few rows of the DataFrame
df1.head()

,Пол,Порода,Дата_Рождения,Родитель_папа,Родитель_мама,Удой л/день,Упитанность,Коэффициент инбридинга (F),Прирост веса кг/день,Здоровье (1-10),Фертильность (%),Генетическая ценность (баллы)
ID_особи,,,,,,,,,,,,
1,Самка,Симентальская,2022-12-22,1996,150,NaN,4,0.17,NaN,8,76.0,93
2,Самка,Герефорд,2018-02-07,7154,6500,37.478242,4,0.15,1.18,5,NaN,87
3,Самец,Швицкая,2023-07-04,9107,1784,21.730202,3,0.07,NaN,5,NaN,70
4,Самец,Герефорд,2022-10-08,3959,1785,22.625400,2,0.12,NaN,9,82.0,84
5,Самка,Айрширская,2020-10-07,6921,4409,NaN,3,0.14,NaN,6,NaN,87

In [14]:
df2.head()

,chrom,pos,ref,alt,Признак,beta,Генотип коровы,ID_особи
mutation_id,,,,,,,,
mut_000001,4,39128359,G,T,Фертильность (%),9.52,T/T,1
mut_000002,6,5624123,T,A,Прирост веса кг/день,-6.76,A/A,1
mut_000003,26,41747388,T,A,Здоровье (1-10),-2.64,T/T,1
mut_000004,27,25531753,C,G,Коэффициент инбридинга (F),1.04,C/C,2
mut_000005,105,9093860,T,C,Упитанность,0.15,T/C,2

In [11]:
    # Merge DataFrames on the specified column
    merged_df = pd.merge(df1, df2, on="ID_особи")
    merged_df.head()

,ID_особи,Пол,Порода,Дата_Рождения,Родитель_папа,Родитель_мама,Удой л/день,Упитанность,Коэффициент инбридинга (F),Прирост веса кг/день,Здоровье (1-10),Фертильность (%),Генетическая ценность (баллы),chrom,pos,ref,alt,Признак,beta,Генотип коровы
0,1,Самка,Симентальская,2022-12-22,1996,150,NaN,4,0.17,NaN,8,76.0,93,4,39128359,G,T,Фертильность (%),9.52,T/T
1,1,Самка,Симентальская,2022-12-22,1996,150,NaN,4,0.17,NaN,8,76.0,93,6,5624123,T,A,Прирост веса кг/день,-6.76,A/A
2,1,Самка,Симентальская,2022-12-22,1996,150,NaN,4,0.17,NaN,8,76.0,93,26,41747388,T,A,Здоровье (1-10),-2.64,T/T
3,2,Самка,Герефорд,2018-02-07,7154,6500,37.478242,4,0.15,1.18,5,NaN,87,27,25531753,C,G,Коэффициент инбридинга (F),1.04,C/C
4,2,Самка,Герефорд,2018-02-07,7154,6500,37.478242,4,0.15,1.18,5,NaN,87,105,9093860,T,C,Упитанность,0.15,T/C

In [15]:
merged_df.to_csv('merged_cow_df.csv', index=False)

In [4]:
merged_data = pd.read_csv('/Users/mazelenova/Downloads/merged_cow_df.csv', index_col=0) 
merged_data.head()

,Пол,Порода,Дата_Рождения,Родитель_папа,Родитель_мама,Удой л/день,Упитанность,Коэффициент инбридинга (F),Прирост веса кг/день,Здоровье (1-10),Фертильность (%),Генетическая ценность (баллы),chrom,pos,ref,alt,Признак,beta,Генотип коровы
ID_особи,,,,,,,,,,,,,,,,,,,
1,Самка,Симентальская,2022-12-22,1996,150,NaN,4,0.17,NaN,8,76.0,93,4,39128359,G,T,Фертильность (%),9.52,T/T
1,Самка,Симентальская,2022-12-22,1996,150,NaN,4,0.17,NaN,8,76.0,93,6,5624123,T,A,Прирост веса кг/день,-6.76,A/A
1,Самка,Симентальская,2022-12-22,1996,150,NaN,4,0.17,NaN,8,76.0,93,26,41747388,T,A,Здоровье (1-10),-2.64,T/T
2,Самка,Герефорд,2018-02-07,7154,6500,37.478242,4,0.15,1.18,5,NaN,87,27,25531753,C,G,Коэффициент инбридинга (F),1.04,C/C
2,Самка,Герефорд,2018-02-07,7154,6500,37.478242,4,0.15,1.18,5,NaN,87,105,9093860,T,C,Упитанность,0.15,T/C

In [5]:
#  Разработка системы оценки вклада SNP в исследуемый признак (предполагается использование GWAS анализа и извлечение коэффициента бета1 из уравнения регрессии)

# Step 1: Define a function to calculate genotype effect
def calculate_genotype_effect(genotype):
    """
    This function calculates the genotype effect:
    - Homozygous reference (e.g., G/G): 0
    - Heterozygous (e.g., G/T): 0.5
    - Homozygous alternate (e.g., T/T): 1
    """
    if genotype.count('/') != 1:
        return None  # Return None if genotype format is invalid
    alleles = genotype.split('/')
    if alleles[0] == alleles[1]:
        return 1 if alleles[0] == "alt" else 0
    else:
        return 0.5

In [6]:
# Step 2: Apply the genotype effect calculation to the dataset
merged_data["Genotype_Effect"] = merged_data["Генотип коровы"].apply(calculate_genotype_effect)

# Step 3: Calculate SNP contribution
merged_data["SNP_Contribution"] = merged_data["beta"] * merged_data["Genotype_Effect"]

# Step 4: Aggregate contributions for each cow and trait
# Group by cow ID and trait, then sum the contributions
aggregated_contributions = (
    merged_data.groupby(["ID_особи", "Признак"])["SNP_Contribution"]
    .sum()
    .reset_index()
    .rename(columns={"SNP_Contribution": "Total_Contribution"})
)

# Print the first few rows of the aggregated contributions for verification
aggregated_contributions.head()

   ID_особи                        Признак  Total_Contribution
0         1                Здоровье (1-10)               0.000
1         1           Прирост веса кг/день               0.000
2         1               Фертильность (%)               0.000
3         2  Генетическая ценность (баллы)              -4.325
4         2     Коэффициент инбридинга (F)               0.000

In [7]:
sorted_agg = aggregated_contributions.sort_values(by="Total_Contribution", ascending=False)
sorted_agg.head(20)

       ID_особи                        Признак  Total_Contribution
7602       3860     Коэффициент инбридинга (F)              10.425
3977       2017           Прирост веса кг/день               9.065
19469      9879                    Упитанность               9.010
6303       3226               Фертильность (%)               8.515
10130      5152           Прирост веса кг/день               8.350
12764      6493                Здоровье (1-10)               8.280
4091       2081     Коэффициент инбридинга (F)               8.125
11898      6038                    Удой л/день               7.840
3723       1884               Фертильность (%)               7.790
6525       3330           Прирост веса кг/день               7.610
3393       1716                Здоровье (1-10)               7.455
3709       1877               Фертильность (%)               7.180
10392      5287               Фертильность (%)               7.160
4251       2161                Здоровье (1-10)               7.150
10707      5448  Генетическая ценность (баллы)               7.135
10672      5432                Здоровье (1-10)               6.930
10808      5500     Коэффициент инбридинга (F)               6.795
17333      8781                    Упитанность               6.720
19246      9764     Коэффициент инбридинга (F)               6.675
11508      5848                    Упитанность               6.600

In [8]:
sorted_agg = sorted_agg.rename(columns={"Total_Contribution": "Вклад генетики"})
sorted_agg.head()

       ID_особи                     Признак  Вклад генетики
7602       3860  Коэффициент инбридинга (F)          10.425
3977       2017        Прирост веса кг/день           9.065
19469      9879                 Упитанность           9.010
6303       3226            Фертильность (%)           8.515
10130      5152        Прирост веса кг/день           8.350

In [12]:
sorted_agg = sorted_agg.reset_index(drop=True)
sorted_agg = sorted_agg.set_index('ID_особи')

                             Признак  Вклад генетики
ID_особи
3860      Коэффициент инбридинга (F)          10.425
2017            Прирост веса кг/день           9.065
9879                     Упитанность           9.010
3226                Фертильность (%)           8.515
5152            Прирост веса кг/день           8.350

In [22]:
sorted_agg.head(30)

                                Признак  Вклад генетики
ID_особи
3860         Коэффициент инбридинга (F)          10.425
2017               Прирост веса кг/день           9.065
9879                        Упитанность           9.010
3226                   Фертильность (%)           8.515
5152               Прирост веса кг/день           8.350
6493                    Здоровье (1-10)           8.280
2081         Коэффициент инбридинга (F)           8.125
6038                        Удой л/день           7.840
1884                   Фертильность (%)           7.790
3330               Прирост веса кг/день           7.610
1716                    Здоровье (1-10)           7.455
1877                   Фертильность (%)           7.180
5287                   Фертильность (%)           7.160
2161                    Здоровье (1-10)           7.150
5448      Генетическая ценность (баллы)           7.135
5432                    Здоровье (1-10)           6.930
5500         Коэффициент инбридинга (F)           6.795
8781                        Упитанность           6.720
9764         Коэффициент инбридинга (F)           6.675
5848                        Упитанность           6.600
2427               Прирост веса кг/день           6.570
9266         Коэффициент инбридинга (F)           6.460
3021                    Здоровье (1-10)           6.405
7831         Коэффициент инбридинга (F)           6.180
5472         Коэффициент инбридинга (F)           6.150
3712                   Фертильность (%)           6.135
4846      Генетическая ценность (баллы)           6.095
5427               Прирост веса кг/день           6.085
7119         Коэффициент инбридинга (F)           6.045
3030         Коэффициент инбридинга (F)           6.015

In [15]:
# Save the results to a CSV file for further analysis
output_path = "/Users/mazelenova/Downloads/farm_analysis.xlsx"  # Update this to your desired output path
sorted_agg.to_excel(output_path, index=True)

In [24]:
# Choose the ID you want to filter
selected_id = 4846  # Replace with the desired ID

# Filter the DataFrame for the selected ID
sorted_agg_filtered_data = sorted_agg.loc[selected_id]

# Display the filtered data
print(sorted_agg_filtered_data)

                                Признак  Вклад генетики
ID_особи
4846      Генетическая ценность (баллы)           6.095
4846                        Упитанность           0.000
4846         Коэффициент инбридинга (F)          -0.260

In [17]:
filtered_milk = sorted_agg[sorted_agg["Признак"] == "Удой л/день"]
filtered_milk.head()

              Признак  Вклад генетики
ID_особи
6038      Удой л/день           7.840
6804      Удой л/день           5.995
508       Удой л/день           5.390
6465      Удой л/день           5.175
4094      Удой л/день           4.995

In [27]:
filtered_milk.head(30)

              Признак  Вклад генетики
ID_особи
6038      Удой л/день           7.840
6804      Удой л/день           5.995
508       Удой л/день           5.390
6465      Удой л/день           5.175
4094      Удой л/день           4.995
7226      Удой л/день           4.995
1378      Удой л/день           4.990
7476      Удой л/день           4.970
1663      Удой л/день           4.970
6160      Удой л/день           4.945
2322      Удой л/день           4.940
4291      Удой л/день           4.925
1156      Удой л/день           4.925
8002      Удой л/день           4.910
8259      Удой л/день           4.890
7639      Удой л/день           4.890
1690      Удой л/день           4.875
5049      Удой л/день           4.865
5850      Удой л/день           4.850
1218      Удой л/день           4.830
4995      Удой л/день           4.820
3843      Удой л/день           4.815
2025      Удой л/день           4.810
2782      Удой л/день           4.810
307       Удой л/день           4.790
3048      Удой л/день           4.780
5769      Удой л/день           4.775
4612      Удой л/день           4.765
4403      Удой л/день           4.750
6519      Удой л/день           4.745

In [30]:
# Choose the ID you want to filter
selected_id = 4995  # Replace with the desired ID

# Filter the DataFrame for the selected ID
milk_by_genes = filtered_milk.loc[selected_id]

# Display the filtered data
print(milk_by_genes)

Признак           Удой л/день
Вклад генетики           4.82
Name: 4995, dtype: object

In [18]:
# Save the results to a CSV file for further analysis
output_path = "/Users/mazelenova/Downloads/farm_milk_analysis.xlsx"  # Update this to your desired output path
filtered_milk.to_excel(output_path, index=True)

In [19]:
# Filter rows where 'Признак' is either "Прирост веса кг/день" or "Упитанность"
filtered_meat = sorted_agg[sorted_agg["Признак"].isin(["Прирост веса кг/день", "Упитанность"])]
filtered_meat.head()

                       Признак  Вклад генетики
ID_особи
2017      Прирост веса кг/день           9.065
9879               Упитанность           9.010
5152      Прирост веса кг/день           8.350
3330      Прирост веса кг/день           7.610
8781               Упитанность           6.720

In [40]:
filtered_meat.loc[filtered_meat["Вклад генетики"].idxmax()]

Признак           Прирост веса кг/день
Вклад генетики                   9.065
Name: 2017, dtype: object

In [38]:
# Choose the ID you want to filter
selected_id = 3330  # Replace with the desired ID

# Filter the DataFrame for the selected ID
meat_by_genes = filtered_meat.loc[selected_id]

# Display the filtered data
print(meat_by_genes)

Признак           Прирост веса кг/день
Вклад генетики                    7.61
Name: 3330, dtype: object

In [25]:
# Save the results to a CSV file for further analysis
output_path = "/Users/mazelenova/Downloads/farm_meat_analysis.xlsx"  # Update this to your desired output path
filtered_meat.to_excel(output_path, index=True)

In [23]:
# Save the results to a CSV file for further analysis
output_path = "/Users/mazelenova/Downloads/aggregated_snp_contributions.csv"  # Update this to your desired output path
aggregated_contributions.to_csv(output_path, index=False)

In [116]:
# Save the results to a CSV file for further analysis
output_path = "/Users/mazelenova/Downloads/merged_genotypes.csv"  # Update this to your desired output path
merged_data.reset_index().to_csv(output_path, index=False)

In [152]:
# Save the results to a CSV file for further analysis
output_path = "/Users/mazelenova/Downloads/merged_genotypes.xlsx"  # Update this to your desired output path
merged_data.reset_index().to_excel(output_path, index=False)

In [117]:
merged_genotypes = pd.read_csv('/Users/mazelenova/Downloads/merged_genotypes.csv', index_col=0) 
merged_genotypes.head()

,Пол,Порода,Дата_Рождения,Родитель_папа,Родитель_мама,Удой л/день,Упитанность,Коэффициент инбридинга (F),Прирост веса кг/день,Здоровье (1-10),...,Генетическая ценность (баллы),chrom,pos,ref,alt,Признак,beta,Генотип коровы,Genotype_Effect,SNP_Contribution
ID_особи,,,,,,,,,,,,,,,,,,,,,
1,Самка,Симентальская,2022-12-22,1996,150,NaN,4,0.17,NaN,8,...,93,4,39128359,G,T,Фертильность (%),9.52,T/T,0.0,0.000
1,Самка,Симентальская,2022-12-22,1996,150,NaN,4,0.17,NaN,8,...,93,6,5624123,T,A,Прирост веса кг/день,-6.76,A/A,0.0,-0.000
1,Самка,Симентальская,2022-12-22,1996,150,NaN,4,0.17,NaN,8,...,93,26,41747388,T,A,Здоровье (1-10),-2.64,T/T,0.0,-0.000
2,Самка,Герефорд,2018-02-07,7154,6500,37.478242,4,0.15,1.18,5,...,87,27,25531753,C,G,Коэффициент инбридинга (F),1.04,C/C,0.0,0.000
2,Самка,Герефорд,2018-02-07,7154,6500,37.478242,4,0.15,1.18,5,...,87,105,9093860,T,C,Упитанность,0.15,T/C,0.5,0.075

In [151]:
aggregated_contributions.columns

Index(['ID_особи', 'Признак', 'Total_Contribution'], dtype='object')

In [102]:
#Разработка системы оценки вклада взаимодействия SNP для двух признаков — потенциально наиболее продуктивное животное (производство молока) и наиболее мясного (для мясных пород).

['Пол', 'Порода', 'Дата_Рождения', 'Родитель_папа', 'Родитель_мама', 'Удой л/день', 'Упитанность', 'Коэффициент инбридинга (F)', 'Прирост веса кг/день', 'Здоровье (1-10)', 'Фертильность (%)', 'Генетическая ценность (баллы)', 'chrom', 'pos', 'ref', 'alt', 'Признак', 'beta', 'Генотип коровы', 'Genotype_Effect', 'SNP_Contribution']

In [121]:
# Ensure ID_особи is a column, not an index
merged_genotypes.reset_index(inplace=True)

# Verify that ID_особи is now a column
print("Columns in merged_genotypes after reset:", merged_genotypes.columns)

Columns in merged_genotypes after reset: Index(['ID_особи', 'Пол', 'Порода', 'Дата_Рождения', 'Родитель_папа',
       'Родитель_мама', 'Удой л/день', 'Упитанность',
       'Коэффициент инбридинга (F)', 'Прирост веса кг/день', 'Здоровье (1-10)',
       'Фертильность (%)', 'Генетическая ценность (баллы)', 'chrom', 'pos',
       'ref', 'alt', 'Признак', 'beta', 'Генотип коровы', 'Genotype_Effect',
       'SNP_Contribution'],
      dtype='object')

In [146]:
merged_genotypes.head()

,ID_особи,Пол,Порода,Дата_Рождения,Родитель_папа,Родитель_мама,Удой л/день,Упитанность,Коэффициент инбридинга (F),Прирост веса кг/день,...,Генетическая ценность (баллы),chrom,pos,ref,alt,Признак,beta,Генотип коровы,Genotype_Effect,SNP_Contribution
0,2,Самка,Герефорд,2018-02-07,7154,6500,37.478242,4,0.15,1.18,...,87,27,25531753,C,G,Коэффициент инбридинга (F),1.04,C/C,0.0,0.000
1,2,Самка,Герефорд,2018-02-07,7154,6500,37.478242,4,0.15,1.18,...,87,105,9093860,T,C,Упитанность,0.15,T/C,0.5,0.075
2,2,Самка,Герефорд,2018-02-07,7154,6500,37.478242,4,0.15,1.18,...,87,103,23951303,T,G,Удой л/день,-9.32,T/T,0.0,-0.000
3,2,Самка,Герефорд,2018-02-07,7154,6500,37.478242,4,0.15,1.18,...,87,41,20770253,A,C,Генетическая ценность (баллы),-8.65,A/C,0.5,-4.325
4,8,Самец,Голштинская,2018-09-10,4911,4832,27.833166,3,0.15,1.16,...,90,41,21564983,T,A,Прирост веса кг/день,7.74,T/T,0.0,0.000

In [153]:

# Step 2: Filter relevant traits and remove NaN values
relevant_traits = ["Удой л/день", "Прирост веса кг/день"]
filtered_data = merged_genotypes[merged_genotypes["Признак"].isin(relevant_traits)]
filtered_data = filtered_data.dropna(subset=["Удой л/день", "Прирост веса кг/день"])

# Step 3: Separate Milk and Meat Contributions
milk_data = filtered_data[filtered_data["Признак"] == "Удой л/день"].copy()
meat_data = filtered_data[filtered_data["Признак"] == "Прирост веса кг/день"].copy()

# Ensure SNP details are included
required_columns = ["ID_особи", "chrom", "pos", "ref", "alt", "SNP_Contribution"]
milk_data = milk_data[required_columns].rename(columns={"SNP_Contribution": "Milk_Contribution"})
meat_data = meat_data[required_columns].rename(columns={"SNP_Contribution": "Meat_Contribution"})

# Step 4: Merge Milk and Meat Contributions
merged_snp = pd.merge(
    milk_data,
    meat_data,
    on=["ID_особи", "chrom", "pos", "ref", "alt"],
    how="inner"
)

# Step 5: Calculate Interaction Effect
merged_snp["Interaction_Effect"] = (
    merged_snp["Milk_Contribution"] * merged_snp["Meat_Contribution"]
)

# Step 6: Aggregate Interaction Effects at Animal Level
interaction_results = (
    merged_snp.groupby("ID_особи")["Interaction_Effect"]
    .sum()
    .reset_index()
    .rename(columns={"Interaction_Effect": "Total_Interaction_Effect"})
)

# Step 7: Rank Animals by Interaction Effect
interaction_results["Rank"] = interaction_results["Total_Interaction_Effect"].rank(ascending=False)

# Step 8: Sort Results
sorted_results = interaction_results.sort_values(
    by=["Total_Interaction_Effect"], ascending=False
).reset_index(drop=True)

# Display the top results
print(sorted_results.head(20))

# Save to CSV if needed
#sorted_results.to_csv("/path/to/interaction_results.csv", index=False)

Empty DataFrame
Columns: [ID_особи, Total_Interaction_Effect, Rank]
Index: []

In [142]:
pivot_contributions.head()

   ID_особи  Milk_Contribution  Meat_Contribution
0         1                0.0                NaN
1         2                NaN               0.00
2         6                NaN               0.15
3         7                NaN               0.00
4         8                0.0                NaN

In [130]:
merged_genotypes = merged_genotypes.dropna(subset=["Удой л/день", "Прирост веса кг/день"]).reset_index(drop=True)

# Step 1: Filter relevant traits in aggregated_contributions
relevant_traits = ["Удой л/день", "Прирост веса кг/день"]
filtered_contributions = aggregated_contributions[aggregated_contributions["Признак"].isin(relevant_traits)]

# Step 2: Pivot aggregated contributions to separate milk and meat contributions
pivot_contributions = filtered_contributions.pivot(
    index="ID_особи",
    columns="Признак",
    values="Total_Contribution"
).reset_index()

# Rename columns for clarity
pivot_contributions.columns = ["ID_особи", "Milk_Contribution", "Meat_Contribution"]

# Step 3: Merge with production data to include actual production values
# Extract necessary columns from merged_data
production_data = merged_genotypes[["ID_особи", "Удой л/день", "Прирост веса кг/день"]].drop_duplicates()

# Merge contributions with production data
merged_results = pd.merge(
    pivot_contributions,
    production_data,
    on="ID_особи",
    how="left"
)

# Step 4: Handle NaN values and exclude negative contributions
# Replace NaNs with 0 for consistency
merged_results.fillna(0, inplace=True)

# Filter out rows with negative or zero contributions for milk and meat
merged_results = merged_results[
    (merged_results["Milk_Contribution"] > 0) & 
    (merged_results["Meat_Contribution"] > 0)
]

# Step 5: Calculate interaction effects
# Multiply contributions for milk and meat
merged_results["Interaction_Effect"] = (
    merged_results["Milk_Contribution"] * merged_results["Meat_Contribution"]
)

# Step 6: Rank animals by interaction effects
merged_results["Rank"] = merged_results["Interaction_Effect"].rank(ascending=False)

# Sort by Interaction Effect to prioritize genetic potential
sorted_results = merged_results.sort_values(
    by=["Interaction_Effect", "Milk_Contribution", "Meat_Contribution"],
    ascending=[False, False, False]
)

# Reset index for clean output
sorted_results.reset_index(drop=True, inplace=True)

# Display the top results
print(sorted_results.head())

   ID_особи  Milk_Contribution  Meat_Contribution  Удой л/день  \
0      5427              6.085              3.285    21.323464
1      9114              4.875              3.750    30.471432
2      6160              3.650              4.945     0.000000
3      9399              4.520              3.810     0.000000
4      6232              3.725              4.015     0.000000

   Прирост веса кг/день  Interaction_Effect  Rank
0                  1.26           19.989225   1.0
1                  1.42           18.281250   2.0
2                  0.00           18.049250   3.0
3                  0.00           17.221200   4.0
4                  0.00           14.955875   5.0

In [136]:
# Display the top results
print(sorted_results.head(20))

    ID_особи  Milk_Contribution  Meat_Contribution  Удой л/день  \
0       5427              6.085              3.285    21.323464
1       9114              4.875              3.750    30.471432
2       6160              3.650              4.945     0.000000
3       9399              4.520              3.810     0.000000
4       6232              3.725              4.015     0.000000
5       3361              4.855              2.705     0.000000
6       1663              2.075              4.970     0.000000
7       1928              3.390              2.880     0.000000
8       5708              3.195              3.010     0.000000
9       1095              1.920              4.640     0.000000
10      4750              2.510              3.300    29.461096
11      5718              2.440              3.350    30.917290
12      2796              3.895              1.990    37.429320
13      1092              2.540              2.420     0.000000
14      4198              1.705              3.385    32.915823
15       125              2.095              1.810     0.000000
16       631              2.390              1.515     0.000000
17      4094              0.660              4.995     0.000000
18      9253              0.805              3.000     0.000000
19      8856              0.740              2.340     0.000000

    Прирост веса кг/день  Interaction_Effect  Rank
0                   1.26           19.989225   1.0
1                   1.42           18.281250   2.0
2                   0.00           18.049250   3.0
3                   0.00           17.221200   4.0
4                   0.00           14.955875   5.0
5                   0.00           13.132775   6.0
6                   0.00           10.312750   7.0
7                   0.00            9.763200   8.0
8                   0.00            9.616950   9.0
9                   0.00            8.908800  10.0
10                  0.81            8.283000  11.0
11                  1.06            8.174000  12.0
12                  0.84            7.751050  13.0
13                  0.00            6.146800  14.0
14                  0.97            5.771425  15.0
15                  0.00            3.791950  16.0
16                  0.00            3.620850  17.0
17                  0.00            3.296700  18.0
18                  0.00            2.415000  19.0
19                  0.00            1.731600  20.0

In [32]:
sorted_results = pd.read_csv("/Users/mazelenova/Downloads/milk_meat_with_interactions.csv")

In [43]:
# Remove rows where either 'Прирост веса кг/день' or 'Удой л/день' are 0
filtered_df = sorted_results[(sorted_results["Прирост веса кг/день"] > 0) & (sorted_results["Удой л/день"] > 0)]

# Recalculate ranks based on Interaction_Effect
filtered_df = filtered_df.sort_values(by="Interaction_Effect", ascending=False)
filtered_df["Rank"] = filtered_df["Interaction_Effect"].rank(ascending=False)

# Reset index and display the updated DataFrame
filtered_df.reset_index(drop=True, inplace=True)
filtered_df.head()

,ID_особи,Milk_Contribution,Meat_Contribution,Удой л/день,Прирост веса кг/день,Interaction_Effect,Rank
0,5427,6.085,3.285,21.323464,1.26,19.989225,1.0
1,9114,4.875,3.750,30.471432,1.42,18.281250,2.0
2,4750,2.510,3.300,29.461096,0.81,8.283000,3.0
3,5718,2.440,3.350,30.917290,1.06,8.174000,4.0
4,2796,3.895,1.990,37.429320,0.84,7.751050,5.0

In [44]:
# Remove 'Milk_Contribution' and 'Meat_Contribution' columns
milk_meat = filtered_df.drop(columns=["Milk_Contribution", "Meat_Contribution", "Interaction_Effect"])

# Rename the 'Rank' column for clarity
milk_meat = milk_meat.rename(columns={"Rank": "Лучшая комбинация (ранг)"})
milk_meat.head()

   ID_особи  Удой л/день  Прирост веса кг/день  Лучшая комбинация (ранг)
0      5427    21.323464                  1.26                       1.0
1      9114    30.471432                  1.42                       2.0
2      4750    29.461096                  0.81                       3.0
3      5718    30.917290                  1.06                       4.0
4      2796    37.429320                  0.84                       5.0

In [ ]:
# Remove rows where either 'Прирост веса кг/день' or 'Удой л/день' are 0
filtered_df = sorted_results[(sorted_results["Прирост веса кг/день"] > 0) & (sorted_results["Удой л/день"] > 0)]

# Recalculate ranks based on Interaction_Effect
filtered_df = filtered_df.sort_values(by="Interaction_Effect", ascending=False)
filtered_df["Rank"] = filtered_df["Interaction_Effect"].rank(ascending=False)

# Reset index and display the updated DataFrame
filtered_df.reset_index(drop=True, inplace=True)
filtered_df.head()

In [45]:
output_path = "/Users/mazelenova/Downloads/milk_meat_full.csv"  # Update to desired path
filtered_df.to_csv(output_path, index=False)